.home-container {
  width: 100%;
  background-color: rgb(44, 37, 96);

  &__information {
    width: 100%;
    color: white;

    &__title {
      margin-bottom: 20px;
    }
    &__subtitle {
      margin-bottom: 5px;
    }
    &__description {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  &__gallery {
    padding: 20px;

    &__card {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;

      &__image {
        width: 100%;
        height: 300px;
        border-radius: 8px;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: 0 5%;
        position: relative;
        display: block;
      }

      &__info {
        margin-top: 15px;
      }
    }

    &__button-wraper {
      display: flex;
      align-content: center;
      justify-content: center;
      &__button {
        border-radius: 5px;
        width: 15rem;
        height: 3rem;
        background-color: rgb(46, 38, 112);
        color: white;
        font-weight: bold;
      }
    }
  }
}

.container {
  max-width: 1550px;
}

.col-md-4 {
  flex: 0 0 29%;
  margin: 25px;
}
