.home-container {
  padding-top: 4%;
  width: 100%;
  height: 100%;
  padding-right: 5%;
  padding-left: 5%;
  background-color: rgb(44, 37, 96);

  justify-content: center;
  align-content: center;

  &__text {
    color: white;
    h1 {
      padding-bottom: 2%;
    }
    h5 {
      padding-bottom: 2%;
    }
    p {
      font-size: xx-small;
    }
  }

  &__gallery {
    width: 100%;
    height: 100%;
  }

  &__card {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 25rem;
    max-width: 425px;
    max-height: 425px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.75rem;
  }

  &__card_image {
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 65%;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0 5%;
    position: relative;
    max-width: 100%;
    display: block;
    img {
      max-width: 100%;
      display: block;
    }
  }

  &__card_info {
    padding: 1rem 1rem;
  }

  &__button_wraper {
    align-content: center;
    align-self: center;
  }
  &__button {
    border-radius: 5px;
    width: 15rem;
    height: 3rem;
    background-color: rgb(46, 38, 112);
    color: white;
    font-weight: bold;
  }
}
