.inputBox {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

input {
  border: 0;
}

.row no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.hr-1 {
  background-color: #fff;
  padding: 0;
  margin: 5px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
